In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv('../data/final_features_selection_data.csv')
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   study_hours_per_day    1000 non-null   float64
 1   social_media_hours     1000 non-null   float64
 2   netflix_hours          1000 non-null   float64
 3   attendance_percentage  1000 non-null   float64
 4   sleep_hours            1000 non-null   float64
 5   exercise_frequency     1000 non-null   int64
 6   mental_health_rating   1000 non-null   int64
 7   exam_score             1000 non-null   float64
dtypes: float64(6), int64(2)
memory usage: 62.6 KB

In [6]:
data.head().T

                          0      1     2     3     4
study_hours_per_day     0.0    6.9   1.4   1.0   5.0
social_media_hours      1.2    2.8   3.1   3.9   4.4
netflix_hours           1.1    2.3   1.3   1.0   0.5
attendance_percentage  85.0   97.3  94.8  71.0  90.9
sleep_hours             8.0    4.6   8.0   9.2   4.9
exercise_frequency      6.0    6.0   1.0   4.0   3.0
mental_health_rating    8.0    8.0   1.0   1.0   1.0
exam_score             56.2  100.0  34.3  26.8  66.4

In [7]:
feature = data.drop(columns=['exam_score'])
target = data['exam_score']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(feature, target, test_size=0.2, random_state=42)
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)

X_train shape: (800, 7)
X_test shape: (200, 7)